nav {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}

a {
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    color: white;
}

.selected {
    font-weight: bolder;
}
